<div class="guff_fn_content">
  <div class="guff_fn_pages">
    <div class="guff_fn_page_ajax">
      <div class="guff_fn_singlepost" data-page-style="ws">
        <div class="guff_fn_singleajax">
          <div class="guff_fn_blog_single" data-post-id="63" data-get-post-id="62" data-post-title="Capturing the Magic: The Enchanting Beauty of the Setting Sun" data-post-url="https://frenify.com/work/envato/frenify/wp/guff/1/capturing-the-magic-the-enchanting-beauty-of-the-setting-sun/">
            <div class="guff_fn_single" data-ps="ws">
              <div class="guff_fn_hassidebar">
                <div class="sidebar__inner">
                  <div class="sidebarpage">
                    <div class="guff_fn_leftsidebar">
                      <div class="single__content">
                        <div class="content_holder">
                          <div class="post__header"><a href="#" class="fn_share_button" aria-label="Open Share Button"><img class="fn__svg " src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/themes/guff/framework/svg/ellipsex.svg" alt="svg" />Share</a>
                            <div class="guff_fn_sharebox">
                              <ul>
                                <li><a class="fn__tooltip_item rbg_item" href="http://www.facebook.com/share.php?u=<%= encodeURIComponent(postUrl) %>" target="_blank" aria-label="Share on Facebook"><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/facebook.svg" alt="svg" /><span class="t_text">Share on
                                      Facebook</span></a></li>
                                <li><a class="fn__tooltip_item rbg_item" href="https://twitter.com/share?url=<%= encodeURIComponent(postUrl) %>" target="_blank" aria-label="Share on Twitter"><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/twitter.svg" alt="svg" /><span class="t_text">Share on
                                      Twitter</span></a></li>
                                <li><a class="fn__tooltip_item rbg_item" href="http://pinterest.com/pin/create/button/?url=<%= encodeURIComponent(postUrl) %>" target="_blank" aria-label="Share on Pinterest"><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/pinterest.svg" alt="svg" /><span class="t_text">Share on
                                      Pinterest</span></a></li>
                                <li><a class="fn__tooltip_item rbg_item" href="https://www.vk.com/share.php?url=<%= encodeURIComponent(postUrl) %>" target="_blank" aria-label="Share on VK"><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/vk.svg" alt="svg" /><span class="t_text">Share on
                                      VK</span></a></li>
                              </ul><a class="share_closer" href="#" aria-label="Sharebox closer button"></a>
                            </div>
                            <div class="header_in">
                              <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="../2023/10/26/index.html">
								<%= new Date(data.createdAt).toLocaleDateString("en-US", {
									month: "short",
									day: "numeric",
									year: "numeric"
								  }) %>
								  
                                    </a></span></span><span class="meta_item meta_category"><a class="" href=""><%= data.category.name %></a>
                                </span>
                              </div>
                              <div class="fn__full_meta">
                                <div class="full_meta"><span class="meta_item meta__author" data-type="full"><a class="fn__tooltip_item" href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/" aria-label="27 Articles, 25 Episodes"><span class="has_img"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/11/a01.jpg" alt="" /></span><span class="text">frenify</span><span class="t_text">27 Articles, 25
                                        Episodes</span></a></span>
                                  <div class="other_metas"><span class="meta_item meta__comment"><a class="fn__tooltip_item" href="index.html#respond" aria-label="Go to comments"><img class="fn__svg " src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/themes/guff/framework/svg/comment.svg" alt="svg" /><span class="text">0</span><span class="t_text">0
                                          Comments</span></a></span><span class="meta_item meta__time"><span class="fn__tooltip_item"><img class="fn__svg " src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/themes/guff/framework/svg/open-book.svg" alt="svg" /><span class="text">4</span><span class="t_text">4 Min
                                          Read</span></span></span><span class="meta_item meta__page_views"><span class="fn__tooltip_item"><img class="fn__svg " src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/themes/guff/framework/svg/eye.svg" alt="svg" /><span class="text"><%= views %></span><span class="t_text"><%= views %>
                                          Views</span></span></span>
                                  </div>
                                </div>
                              </div>
                              <h2 class="fn__maintitle"><%= data.title %></h2>
                              <div class="decor_right"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/3lines.svg" alt="svg" /></div>
                            </div>
                            <div class="fn__image_format fn__bordered_obj" data-width="3" data-space="10" data-radius="50">
                              <div class="obj_content"><img loading="lazy" src="/uploads/<%= String(data.banner).replace('/public', '') %>" srcset="/uploads/<%= String(data.banner).replace('/public', '') %> 1280w, /uploads/<%= String(data.banner).replace('/public', '') %> 300w, /uploads/<%= String(data.banner).replace('/public', '') %> 1024w, /uploads/<%= String(data.banner).replace('/public', '') %> 768w" sizes="(max-width: 1280px) 100vw, 1280px" alt="" width="1280" height="717" loading="lazy" /></div>
                            </div>
                          </div>
                          <div class="fn__separator" data-style=""><img class="fn__svg left_sep_b" src="/wp-content/themes/guff/framework/svg/sep-left-b.svg" alt="svg" /><img class="fn__svg left_sep" src="/wp-content/themes/guff/framework/svg/sep-left.svg" alt="svg" /><img class="fn__svg right_sep" src="/wp-content/themes/guff/framework/svg/sep-right.svg" alt="svg" /><img class="fn__svg right_sep_b" src="/wp-content/themes/guff/framework/svg/sep-right-b.svg" alt="svg" /></div>
                          <div class="post_content_wrap">
                            <div class="post_content">
                              <div class="post_c_in">
                                <%- data.description %>
                                <div class="clearfix"></div>
                                <div class="guff_fn_tags">
                                  <ul>
                                    <li class="tag_item">
                                      <h5>Tagged in:</h5>
                                    </li>
                                    <% for (const tag of data.tags.slice(0, 5)) { %>
                                    <li class="tag_item"><a href=""><%= tag %></a>
                                    </li>
                                    <% } %>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="guff_fn_pnb" data-status="prev">
                              <div class="pnb__item prev__item">
                                <% if (previousPost) { %>
                                    <div class="prev item" title="<%= previousPost.title %>">
                                        <p class="fn_desc"><span>Prev Post</span></p>
                                        <div class="item_in">
                                            <a class="full_link" href="/articles/<%= previousPost.slug %>" aria-label="<%= previousPost.title %>"></a>
                                            <div class="pnb_title_holder">
                                                <h3 class="fn_title"><span><a href="/articles/<%= previousPost.slug %>"><%= previousPost.title %></a></span></h3>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            
                              <div class="middle__item"><a class="fn__tooltip_item" href="https://frenify.com/work/envato/frenify/wp/guff/1/blog"><span class="icon"></span><span class="t_text">Back to blog
                                    page</span></a></div>
                              <div class="pnb__item next__item">
                                <div class="next item" title="Next Post">
                                  <p class="fn_desc"><span>Next Post</span>
                                  </p>
                                  <div class="item_in"><a class="full_link" href="#" aria-label="Next Post"></a>
                                    <div class="pnb_title_holder">
                                      <h3 class="fn_title"><span><a href="#">Next
                                            Post</a></span></h3>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="fn__separator" data-style=""><img class="fn__svg left_sep_b" src="/wp-content/themes/guff/framework/svg/sep-left-b.svg" alt="svg" /><img class="fn__svg left_sep" src="/wp-content/themes/guff/framework/svg/sep-left.svg" alt="svg" /><img class="fn__svg right_sep" src="/wp-content/themes/guff/framework/svg/sep-right.svg" alt="svg" /><img class="fn__svg right_sep_b" src="/wp-content/themes/guff/framework/svg/sep-right-b.svg" alt="svg" /></div>
                            <div class="guff_fn_reactions">
                              <div class="reactions_list"><a class="guff_fn_reaction_btn " data-action="in_love" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">In
                                          Love</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/in_love.png" alt="" /></span><span class="count">4</span></span></span></a><a class="guff_fn_reaction_btn " data-action="happy" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Happy</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/happy.png" alt="" /></span><span class="count">4</span></span></span></a><a class="guff_fn_reaction_btn " data-action="not_sure" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Not
                                          Sure</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/not_sure.png" alt="" /></span><span class="count">1</span></span></span></a><a class="guff_fn_reaction_btn " data-action="omg" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">OMG</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/omg.png" alt="" /></span><span class="count">3</span></span></span></a><a class="guff_fn_reaction_btn " data-action="angry" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Angry</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/angry.png" alt="" /></span><span class="count">0</span></span></span></a><a class="guff_fn_reaction_btn " data-action="sad" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Sad</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/sad.png" alt="" /></span><span class="count">3</span></span></span></a><a class="guff_fn_reaction_btn " data-action="lol" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">LOL</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/lol.png" alt="" /></span><span class="count">1</span></span></span></a><a class="guff_fn_reaction_btn " data-action="cry" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Cry</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/cry.png" alt="" /></span><span class="count">2</span></span></span></a><a class="guff_fn_reaction_btn " data-action="silly" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Silly</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/silly.png" alt="" /></span><span class="count">2</span></span></span></a><a class="guff_fn_reaction_btn " data-action="crazy" href="#" data-id="63"><span class="icon_wrapper fn__bordered_obj" data-width="4" data-space="4" data-radius="20"><span class="obj_content"><span class="text_holder"><span class="text">Crazy</span></span><span class="icon"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/plugins/guff-core/assets/svg/reactions/crazy.png" alt="" /></span><span class="count">2</span></span></span></a>
                              </div>
                            </div>
                            <div class="fn__separator" data-style=""><img class="fn__svg left_sep_b" src="/wp-content/themes/guff/framework/svg/sep-left-b.svg" alt="svg" /><img class="fn__svg left_sep" src="/wp-content/themes/guff/framework/svg/sep-left.svg" alt="svg" /><img class="fn__svg right_sep" src="/wp-content/themes/guff/framework/svg/sep-right.svg" alt="svg" /><img class="fn__svg right_sep_b" src="/wp-content/themes/guff/framework/svg/sep-right-b.svg" alt="svg" /></div>
                            <div class="fn__separator" data-style=""><img class="fn__svg left_sep_b" src="/wp-content/themes/guff/framework/svg/sep-left-b.svg" alt="svg" /><img class="fn__svg left_sep" src="/wp-content/themes/guff/framework/svg/sep-left.svg" alt="svg" /><img class="fn__svg right_sep" src="/wp-content/themes/guff/framework/svg/sep-right.svg" alt="svg" /><img class="fn__svg right_sep_b" src="/wp-content/themes/guff/framework/svg/sep-right-b.svg" alt="svg" /></div>
                            <div class="guff_fn_author_info">
                              <div class="info_img">
                                <div class="img">
                                  <div class="img_in"><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/11/a01.jpg" alt="" /></div>
                                </div>
                              </div>
                              <div class="info_desc">
                                <div class="author_top" data-social="yes">
                                  <h3 class="fn_title"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/">Mark
                                      Twein</a></h3>
                                  <div class="social_list">
                                    <ul class="author_social">
                                      <li><a class="fn__tooltip_item" href="#"><span class="t_text">Facebook</span><img class="fn__svg icon_facebook" src="/wp-content/themes/guff/framework/svg/social/facebook.svg" alt="" /></a></li>
                                      <li><a class="fn__tooltip_item" href="#"><span class="t_text">Twitter</span><img class="fn__svg icon_twitter" src="/wp-content/themes/guff/framework/svg/social/twitter.svg" alt="" /></a></li>
                                      <li><a class="fn__tooltip_item" href="#"><span class="t_text">Pinterest</span><img class="fn__svg icon_pinterest" src="/wp-content/themes/guff/framework/svg/social/pinterest.svg" alt="" /></a></li>
                                      <li><a class="fn__tooltip_item" href="#"><span class="t_text">Instagram</span><img class="fn__svg icon_instagram" src="/wp-content/themes/guff/framework/svg/social/instagram.svg" alt="" /></a></li>
                                    </ul>
                                  </div>
                                </div>
                                <p class="fn_desc">Mark Coleman is a writer,
                                  speaker, and productivity expert known for
                                  his work on habit formation and continuous
                                  improvement. </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="guff_fn_related_posts">
                        <div class="fn__linetitle">
                          <h3>Related Posts</h3>
                          <div class="title_decor"><span></span></div>
                        </div>
                        <div class="related_posts">
                          <% if (relatedPosts.length > 0) { %>
                          <ul class="fn__blog_list_layout_masonry">
							<% let count = 1; %>
                            <% relatedPosts.slice(0,6).forEach(post => { %>

                            <li class="post_item">
                              <div class="blog__item_masonry no_full_meta">
                                <div class="item_decor">
                                  <div class="decor_top">
                                    <span></span><span></span><span></span><span></span>
                                  </div>
                                  <div class="decor_bottom"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/cornerto.svg" alt="svg" /></div>
                                </div>
                                <div class="list_in">
                                  <div class="list_image">
                                    <div class="list_left_in">
                                      <div class="blog__image"><a href="/articles/<%= post.slug %>" aria-label="<%= post.title %>">
                                          <div class="img_overlay">
                                            <div class="img_in"><img loading="lazy" src="/uploads/<%= String(post.banner).replace('/public', '') %>" width="300" height="231" alt="" loading="lazy" />
                                            </div>
                                          </div>
                                        </a></div>
                                    </div>
                                    <div class="list_key"><%= count %></div>
                                  </div>
                                  <div class="list_bottom">
                                    <h3 class="post__title"><span><a href="/articles/<%= post.slug %>"><%= post.title %></a></span>
                                    </h3>
                                    <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href=""><%= new Date(post.createdAt).toLocaleDateString("en-US", {
										month: "short",
										day: "numeric",
										year: "numeric"
									  }) %>
									  
									  </a></span></span><span class="meta_item meta_category"><a class="" href=""><%= post.category.name %></a></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
							<% count++; %>
                            <% }); %>

                          </ul>
                          <% } else { %>
                          <p>No related posts found.</p>
                          <% } %>
                        </div>
                      </div>
                      <div class="guff_fn_comments">
                        <div class="comment_opener"><span class="icon"><img class="fn__svg " src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/themes/guff/framework/svg/bubble-chat.svg" alt="svg" /></span>
                          <div class="title_holder">
                            <h3><span>What do you think?</span></h3>
                            <p>It is nice to know your opinion. Leave a comment.</p>
                          </div>
                        </div>
                        <div class="fn__comments" id="comments">

                          <!-- You can start editing here. -->


                          <!-- If comments are open, but there are no comments. -->


                          <div class="respond_comment">
                            <div id="respond" class="comment-respond">
                              <h3 id="reply-title" class="comment-reply-title">
                                <span class="comment-title">Leave a reply</span>
                                <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel
                                    reply</a></small>
                              </h3>
                              <form action="https://frenify.com/work/envato/frenify/wp/guff/1/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                <div class="input-holder"><textarea placeholder="Comment" id="comment" name="comment" aria-required="true" rows="10" tabindex="3"></textarea></div>
                                <div class="input-half input-holder input-author">
                                  <input class="com-text" id="author" name="author" placeholder="Name" type="text" value="" size="30" tabindex="1" />
                                </div>
                                <div class="input-half input-holder input-email">
                                  <input class="com-text" id="emailme" placeholder="Email" name="email" type="text" value="" size="30" tabindex="2" />
                                </div>
                                <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes" /> <label for="wp-comment-cookies-consent">Save my
                                    name, email, and website in this browser
                                    for the next time I comment.</label></p>
                                <div class="input-holder"><span class="guff_submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='63' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                  </span></div>
                              </form>
                            </div><!-- #respond -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="guff_fn_rightsidebar">
                      <div class="sidebar_in">
                        <div class="guff_fn_sidebar">
                          <div id="guff_author-2" class="widget_block clearfix widget_guff_author">
                            <div class="wid-title"><span class="text"><span>About
                                  Me</span></span></div>
                            <div class="guff_fn_widget_author">
                              <div class="img__holder">
                                <div class="img"><span class="d1"></span><span class="d2"></span><span class="d3"></span><span class="d4"></span><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/"></a>
                                  <div class="img_in">
                                    <div><img src="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/11/a01-300x300.jpg" alt="" /></div>
                                  </div>
                                </div>
                              </div>
                              <div class="info_desc">
                                <div class="author_top">
                                  <h3 class="fn_title"><a href="https://frenify.com/work/envato/frenify/wp/guff/1/author/frenify/">Mark
                                      Twein</a></h3>
                                  <p class="fn_desc">Mark Coleman is a writer,
                                    speaker, and productivity expert known
                                    for his work on habit formation and
                                    continuous improvement. </p>
                                </div>
                                <div class="author_bottom">
                                  <ul class="author_social">
                                    <li><a class="fn__tooltip_item" href="#"><span class="t_text">Facebook</span><img class="fn__svg icon_facebook" src="/wp-content/themes/guff/framework/svg/social/facebook.svg" alt="" /></a></li>
                                    <li><a class="fn__tooltip_item" href="#"><span class="t_text">Twitter</span><img class="fn__svg icon_twitter" src="/wp-content/themes/guff/framework/svg/social/twitter.svg" alt="" /></a></li>
                                    <li><a class="fn__tooltip_item" href="#"><span class="t_text">Pinterest</span><img class="fn__svg icon_pinterest" src="/wp-content/themes/guff/framework/svg/social/pinterest.svg" alt="" /></a></li>
                                    <li><a class="fn__tooltip_item" href="#"><span class="t_text">Instagram</span><img class="fn__svg icon_instagram" src="/wp-content/themes/guff/framework/svg/social/instagram.svg" alt="" /></a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                          </div>
                          <div id="guff_custom_post-2" class="widget_block clearfix widget_guff_custom_post">
                            <div class="wid-title"><span class="text"><span>Chosen
                                  Post</span></span></div>
                            <div class="img_holder"><a href="../empowered-elegance-embracing-the-modern-womans-journey/index.html" class="full_link"></a>
                              <div class="img abs_img" data-bg-img="../wp-content/uploads/2023/10/119-300x217.jpg">
                              </div>
                            </div>
                            <div class="title_holder">
                              <h3 class="fn_title fn_limited_title"><span><a href="../empowered-elegance-embracing-the-modern-womans-journey/index.html">Empowered
                                    Elegance: Embracing the Modern
                                    Woman&#8217;s Journey</a></span></h3>
                              <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="../2023/10/26/index.html">Oct
                                      26, 2023</a></span></span><span class="meta_item meta_category"><a class="" href="../category/fashion/index.html">Fashion</a></span>
                              </div>
                            </div>
                          </div>
                          <div id="guff_top_articles-2" class="widget_block clearfix widget_guff_top_articles">
                            <div class="wid-title"><span class="text"><span>Popular</span></span></div>
                            <div class="guff_fn_widget__articles no_nav">
                              <div class="top_icon"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/arrowo.svg" alt="svg" />
                                <div><span></span><span></span><span></span>
                                </div>
                              </div>
                              <div class="btm_icon"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/arrowo.svg" alt="svg" />
                                <div><span></span><span></span><span></span>
                                </div>
                              </div><span class="ts_icon"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/splash.svg" alt="svg" /></span><span class="bs_icon"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/splash.svg" alt="svg" /></span>
                              <div class="item has_img" title="Hello world!"><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/hello-world/"></a>
                                <div class="item_img typ_overlay">
                                  <div class="img_in">
                                    <h4 class="typ_title">H</h4><a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/hello-world/"></a>
                                  </div>
                                </div>
                                <div class="title_holder">
                                  <h3 class="fn_title fn_limited_title">
                                    <span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/hello-world/">Hello
                                        world!</a></span>
                                  </h3>
                                  <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="../2023/10/26/index.html">Oct
                                          26,
                                          2023</a></span></span><span class="meta_item meta_category"><a class="" href="../category/uncategorized/index.html">Uncategorized</a></span>
                                  </div>
                                </div>
                              </div>
                              <div class="item has_img" title="Capturing the Magic: The Enchanting Beauty of the Setting Sun">
                                <a class="full_link" href="index.html"></a>
                                <div class="item_img">
                                  <div class="img_in" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/136-150x150.jpg">
                                  </div>
                                </div>
                                <div class="title_holder">
                                  <h3 class="fn_title fn_limited_title">
                                    <span><a href="index.html">Capturing the
                                        Magic: The Enchanting Beauty of
                                        the Setting Sun</a></span>
                                  </h3>
                                  <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="../2023/10/26/index.html">Oct
                                          26,
                                          2023</a></span></span><span class="meta_item meta_category"><a class="" href="../category/inspiration/index.html">Inspiration</a></span>
                                  </div>
                                </div>
                              </div>
                              <div class="item has_img" title="Unbridled Beauty: Exploring the Majesty of Horses">
                                <a class="full_link" href="https://frenify.com/work/envato/frenify/wp/guff/1/unbridled-beauty-exploring-the-majesty-of-horses/"></a>
                                <div class="item_img">
                                  <div class="img_in" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/111-150x150.jpg">
                                  </div>
                                </div>
                                <div class="title_holder">
                                  <h3 class="fn_title fn_limited_title">
                                    <span><a href="https://frenify.com/work/envato/frenify/wp/guff/1/unbridled-beauty-exploring-the-majesty-of-horses/">Unbridled
                                        Beauty: Exploring the Majesty of
                                        Horses</a></span>
                                  </h3>
                                  <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="../2023/10/26/index.html">Oct
                                          26,
                                          2023</a></span></span><span class="meta_item meta_category"><a class="" href="../category/history-culture/index.html">History
                                        &amp; Culture</a></span></div>
                                </div>
                              </div>
                              <div class="item has_img" title="Into the Vast: A Journey Through the Sky's Limitless Canvas">
                                <a class="full_link" href="../into-the-vast-a-journey-through-the-skys-limitless-canvas/index.html"></a>
                                <div class="item_img">
                                  <div class="img_in" data-bg-img="https://frenify.com/work/envato/frenify/wp/guff/1/wp-content/uploads/2023/10/112-150x150.jpg">
                                  </div>
                                </div>
                                <div class="title_holder">
                                  <h3 class="fn_title fn_limited_title">
                                    <span><a href="../into-the-vast-a-journey-through-the-skys-limitless-canvas/index.html">Into
                                        the Vast: A Journey Through the
                                        Sky's Limitless
                                        Canvas</a></span>
                                  </h3>
                                  <div class="fn__short_meta"><span class="meta_item meta_date"><span class="text"><a href="../2023/10/26/index.html">Oct
                                          26,
                                          2023</a></span></span><span class="meta_item meta_category"><a class="" href="../category/inspiration/index.html">Inspiration</a></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="guff_social-2" class="widget_block clearfix widget_guff_social">
                            <div class="wid-title"><span class="text"><span>Follow
                                  me</span></span></div>
                            <div class="guff_fn_widget_social">
                              <ul>
                                <li><a class="fn__tooltip_item" href="https://www.facebook.com/"><span class="t_text">Facebook</span><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/facebook.svg" /></a>
                                </li>
                                <li><a class="fn__tooltip_item" href="https://x.com/"><span class="t_text">Twitter</span><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/twitter.svg" /></a>
                                </li>
                                <li><a class="fn__tooltip_item" href="https://www.pinterest.com/"><span class="t_text">Pinterest</span><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/pinterest.svg" /></a>
                                </li>
                                <li><a class="fn__tooltip_item" href="https://www.instagram.com/"><span class="t_text">Instagram</span><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/instagram.svg" /></a>
                                </li>
                                <li><a class="fn__tooltip_item" href="http://tiktok.com/"><span class="t_text">Tiktok</span><img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/tiktok.svg" /></a>
                                </li>
                              </ul>
                            </div>

                          </div>
                          <div id="guff_custom_categories-2" class="widget_block clearfix widget_guff_custom_categories">
                            <div class="wid-title"><span class="text"><span>Categories</span></span>
                            </div>
                            <div class="guff_fn_ccategories" data-limit="4">
								<ul>
									<% categoryCounts.forEach(category => { %>
									  <li>
										<div class="category__item">
										  <a class="full_link" href=""></a>
										  <span class="cat_title">
											<span class="name"><%= category.category %></span>
											<span class="count"><%= category.count %></span>
										  </span>
										</div>
									  </li>
									<% }); %>
								  </ul>
								  
                              <div class="show_others"><a href="#" aria-label="Show More/Less Categories" data-more="More" data-less="Less">More</a>
                              </div><span class="btm_icon"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/zigzag.svg" alt="svg" /></span>
                            </div>

                          </div>
                          <div id="tag_cloud-2" class="widget_block clearfix widget_tag_cloud">
                            <div class="wid-title"><span class="text"><span>Tag
                                  Cloud</span></span></div>
                            <div class="tagcloud"><a href="../tag/inspiration/index.html" class="tag-cloud-link tag-link-33 tag-link-position-1" style="font-size: 14px;">inspiration</a>
                              <a href="../tag/style/index.html" class="tag-cloud-link tag-link-40 tag-link-position-2" style="font-size: 14px;">style</a>
                              <a href="../tag/photography/index.html" class="tag-cloud-link tag-link-25 tag-link-position-3" style="font-size: 14px;">photography</a>
                              <a href="../tag/exploration/index.html" class="tag-cloud-link tag-link-24 tag-link-position-4" style="font-size: 14px;">exploration</a>
                              <a href="../tag/education/index.html" class="tag-cloud-link tag-link-41 tag-link-position-5" style="font-size: 14px;">education</a>
                              <a href="../tag/writing/index.html" class="tag-cloud-link tag-link-22 tag-link-position-6" style="font-size: 14px;">writing</a>
                              <a href="../tag/history/index.html" class="tag-cloud-link tag-link-32 tag-link-position-7" style="font-size: 14px;">history</a>
                              <a href="../tag/environmentalart/index.html" class="tag-cloud-link tag-link-38 tag-link-position-8" style="font-size: 14px;">environmentalart</a>
                              <a href="../tag/art/index.html" class="tag-cloud-link tag-link-37 tag-link-position-9" style="font-size: 14px;">art</a>
                              <a href="../tag/culture/index.html" class="tag-cloud-link tag-link-48 tag-link-position-10" style="font-size: 14px;">culture</a>
                              <a href="../tag/wellness/index.html" class="tag-cloud-link tag-link-27 tag-link-position-11" style="font-size: 14px;">wellness</a>
                              <a href="../tag/performingarts/index.html" class="tag-cloud-link tag-link-39 tag-link-position-12" style="font-size: 14px;">performingarts</a>
                              <a href="../tag/literature/index.html" class="tag-cloud-link tag-link-42 tag-link-position-13" style="font-size: 14px;">literature</a>
                              <a href="../tag/socialimpact/index.html" class="tag-cloud-link tag-link-43 tag-link-position-14" style="font-size: 14px;">socialimpact</a>
                              <a href="../tag/innovation/index.html" class="tag-cloud-link tag-link-44 tag-link-position-15" style="font-size: 14px;">innovation</a>
                              <a href="../tag/events/index.html" class="tag-cloud-link tag-link-45 tag-link-position-16" style="font-size: 14px;">events</a>
                              <a href="../tag/travel/index.html" class="tag-cloud-link tag-link-46 tag-link-position-17" style="font-size: 14px;">travel</a>
                              <a href="../tag/thinking/index.html" class="tag-cloud-link tag-link-36 tag-link-position-18" style="font-size: 14px;">thinking</a>
                              <a href="../tag/food/index.html" class="tag-cloud-link tag-link-34 tag-link-position-19" style="font-size: 14px;">food</a>
                              <a href="../tag/entrepreneurship/index.html" class="tag-cloud-link tag-link-18 tag-link-position-20" style="font-size: 14px;">entrepreneurship</a>
                              <a href="../tag/design/index.html" class="tag-cloud-link tag-link-19 tag-link-position-21" style="font-size: 14px;">design</a>
                              <a href="../tag/crafts/index.html" class="tag-cloud-link tag-link-20 tag-link-position-22" style="font-size: 14px;">crafts</a>
                              <a href="../tag/digitalart/index.html" class="tag-cloud-link tag-link-21 tag-link-position-23" style="font-size: 14px;">digitalart</a>
                              <a href="../tag/music/index.html" class="tag-cloud-link tag-link-23 tag-link-position-24" style="font-size: 14px;">music</a>
                              <a href="../tag/animation/index.html" class="tag-cloud-link tag-link-26 tag-link-position-25" style="font-size: 14px;">animation</a>
                              <a href="../tag/diy/index.html" class="tag-cloud-link tag-link-28 tag-link-position-26" style="font-size: 14px;">DIY</a>
                              <a href="../tag/culinaryarts/index.html" class="tag-cloud-link tag-link-29 tag-link-position-27" style="font-size: 14px;">culinaryarts</a>
                              <a href="../tag/sustainability/index.html" class="tag-cloud-link tag-link-31 tag-link-position-28" style="font-size: 14px;">sustainability</a>
                              <a href="../tag/parenting/index.html" class="tag-cloud-link tag-link-30 tag-link-position-29" style="font-size: 14px;">parenting</a>
                              <a href="../tag/film/index.html" class="tag-cloud-link tag-link-17 tag-link-position-30" style="font-size: 14px;">film</a>
                              <a href="../tag/technology/index.html" class="tag-cloud-link tag-link-35 tag-link-position-31" style="font-size: 14px;">technology</a>
                              <a href="../tag/fashion/index.html" class="tag-cloud-link tag-link-47 tag-link-position-32" style="font-size: 14px;">fashion</a>
                              <a href="../tag/activism/index.html" class="tag-cloud-link tag-link-49 tag-link-position-33" style="font-size: 14px;">activism</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="clearfix"></div>




    <!-- Footer -->
    <footer id="guff_fn_footer" class="subscribe_enabled">
      <div class="guff_fn_footer">

        <div class="footer_left">
          <div class="footer_left_in">
            <h3 class="footer__title">Contact Us</h3>
            <div class="footer_info" data-social="enable" data-info="enable">
              <div class="info_left">
                <div class="guff_fn_social_list">
                  <ul>
                    <li>
                      <a class="fn__tooltip_item rbg_item" href="https://www.facebook.com/" target="_blank">
                        <img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/facebook.svg" alt="svg" />
                        <span class="t_text">facebook</span>
                      </a>
                    </li>
                    <li>
                      <a class="fn__tooltip_item rbg_item" href="https://x.com/" target="_blank">
                        <img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/twitter.svg" alt="svg" />
                        <span class="t_text">twitter</span>
                      </a>
                    </li>
                    <li>
                      <a class="fn__tooltip_item rbg_item" href="https://www.pinterest.com/" target="_blank">
                        <img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/pinterest.svg" alt="svg" />
                        <span class="t_text">pinterest</span>
                      </a>
                    </li>
                    <li>
                      <a class="fn__tooltip_item rbg_item" href="https://www.instagram.com/" target="_blank">
                        <img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/instagram.svg" alt="svg" />
                        <span class="t_text">instagram</span>
                      </a>
                    </li>
                    <li>
                      <a class="fn__tooltip_item rbg_item" href="http://tiktok.com/" target="_blank">
                        <img class="fn__svg" src="/wp-content/themes/guff/framework/svg/social/tiktok.svg" alt="svg" />
                        <span class="t_text">tiktok</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="info_right">
                <ul>
                  <li><span class="label">Phone</span><span class="value"><a href="tel:7789454545">(778) 945 45 45</a></span></li>
                  <li><span class="label">Email</span><span class="value"><a href="mailto:frenifyteam@fun.com">frenifyteam@fun.com</a></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer_welcome">
              <p>
                Welcome to Guff - your source for lifestyle inspiration and information. We're
                dedicated to providing you with high-quality articles on life and travel,
                written by experts in the field. Explore our diverse collection of posts and
                join our community of avid readers and contributors. </p>
            </div>
            <div class="footer_divider" data-totop="enable">
              <div class="decor"></div>
              <a class="footer_totop" href="#" aria-label="Go to top">
                <span class="icon"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/arrowo.svg" alt="svg" /></span>
                <span class="text">Top</span>
              </a>
            </div>

            <div class="footer_menu">
              <div class="menu-footer-container">
                <ul id="menu-footer" class="guff_fn_main_nav">
                  <li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176">
                    <a href="#"><span><span>Home</span><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/star.svg" alt="svg" /></span></a>
                  </li>
                  <li id="menu-item-177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177">
                    <a href="#"><span><span>About Us</span><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/star.svg" alt="svg" /></span></a>
                  </li>
                  <li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178">
                    <a href="#"><span><span>Contact Us</span><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/star.svg" alt="svg" /></span></a>
                  </li>
                  <li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-179">
                    <a href="#"><span><span>Privacy Policy</span><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/star.svg" alt="svg" /></span></a>
                  </li>
                  <li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180">
                    <a href="#"><span><span>Terms and Conditions</span><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/star.svg" alt="svg" /></span></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer_copyright">
              <p>
                Copyright  2023 Guff. All rights reserved. </p>
            </div>
          </div>
        </div>

        <div class="footer_right">
          <div class="footer_subscribe_form">
            <div class="form_decor">
              <span class="decor_top"></span>
              <span class="decor_right"></span>
              <span class="decor_bottom"></span>
              <span class="decor_left"></span>
              <span class="top_plane"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/paper-plane.svg" alt="svg" /></span>
              <span class="bottom_plane"><img class="fn__svg " src="/wp-content/themes/guff/framework/svg/paper-plane.svg" alt="svg" /></span>
            </div>
            <div class="form_bottom">
              <h3 class="fsf_title">Stay in the loop</h3>
              <p class="fsf_desc">Get the latest posts delivered right to your email.</p>
              <script>
                (function() {
                  window.mc4wp = window.mc4wp || {
                    listeners: [],
                    forms: {
                      on: function(evt, cb) {
                        window.mc4wp.listeners.push({
                          event: evt,
                          callback: cb
                        });
                      }
                    }
                  }
                })();
              </script><!-- Mailchimp for WordPress v4.9.9 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
              <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-181" method="post" data-id="181" data-name="Newspaper">
                <div class="mc4wp-form-fields">
                  <div class="fn__subscribe">
                    <input type="email" name="EMAIL" placeholder="Your Email *" required />
                    <input type="submit" value="Subscribe" />
                  </div>
                </div><label style="display: none !important;">Leave this field empty if you're
                  human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1703719279" /><input type="hidden" name="_mc4wp_form_id" value="181" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                <div class="mc4wp-response"></div>
              </form><!-- / Mailchimp for WordPress Plugin -->
            </div>
          </div>
        </div>

      </div>
    </footer>
    <!-- !Footer -->

  </div>

</div>